.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #edb0b0;
}


/** New Css For Card Design */

.content2 {
    margin-left: 10px;
    color: #ffffff;
    margin-right: 10px;
}

.content {

    width: 80% !important;
    word-break: break-word !important;
    /* padding-left: 13px !important; */
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute !important;
    top: 10px !important;
    font-size: 15px !important;
}

 .card{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0, .5);
    border-radius: 15px;
    margin: 10px;
  }

  @media (max-width: 1200px) {
	.card {
	   width: 200px;
	}
  }
  
  .card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .face.face1{
    box-sizing: border-box;
    padding: 20px;
  }
  
  .card .face.face1 h2{
    margin: 0;
    padding: 0;
  }
  
  .card .face.face1 .content{
    font-size:1.2em;
    margin:0;
    padding:0 0 1em 0;
    font-weight:500;
  }
  
  .card .face.face2{
    background: #111;
    transition: 0.5s;
  }
  
  .card:nth-child(odd) .face.face2{
    background: linear-gradient(45deg, #3503ad, #f7308c);
    border-radius: 15px;
  }
  
  .card:nth-child(even) .face.face2{
    background: linear-gradient(45deg, #ccff00, #09afff);
    border-radius: 15px;
  }
  
  .card:nth-child(3) .face.face2{
    background: linear-gradient(45deg, #e91e63, #ffeb3b);
    border-radius: 15px;
  }
  
  .card:hover .face.face2{
    height: 60px;
    border-radius: 0 0 15px 15px;
  }
  
  .card .face.face2:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 15px 0 0 15px;
  }
  
  .card .face.face2 h2{
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0,0,0, .2);
  }
  
  .card:hover .face.face2 h2{
    font-size: 2em;
  }