.App {
  background-color: #eee;
  width: 100vw;
  height: 100vh;
}

.search-bar-container {
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  padding-bottom: 5vh;
}

@media (min-width:320px) {
	.search-bar-container {
		padding-top: 5vh;
    		width: 40%;
    		margin: auto;
    		display: flex;
    		flex-direction: column;
    		align-items: center;
    		min-width: 200px;
	}
	
}
